// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field_sith_errors{
    width: 100%;
    display: inline-block;
    border: 1px solid #f00;
}

.text_name{
    margin : 10px;
    width : 350px;
}

.text_age{
    margin : 10px;
    width : 50px;
}
.text_body{
    margin : 10px;
    width : 400px;
}

.message_input{
    background-color:#F0F8FF;
}

.form_message{
    color : #337ab7;
    padding:10px;
}

#edit_h{
  border-left: 10px solid #337ab7;
  border-bottom: 1px dashed #337ab7; /* 下ボーダーを、1px幅の破線、線色#CC3366に */
    font-size: 20px;
}
